aws_region                   = "eu-central-1"
aws_account_id               = "YOUR_AWS_ACCOUNT_ID"
project_name                 = "devops-platform"
s3_bucket_name               = "devops-platform-eslam-2026"
cloudfront_distribution_id   = "EJ0FM81LBYU31"
cloudfront_domain_name       = "d2m4cwdyljzt2z.cloudfront.net"
custom_domain                = "devops.elshamy.online"
cloudflare_zone_id           = "YOUR_CLOUDFLARE_ZONE_ID"
cloudflare_api_token         = "YOUR_CLOUDFLARE_API_TOKEN"
github_actions_user_name     = "github-actions-deploy"
